---
const { title, image, url, url_text, content } = Astro.props;
---

<div class="project">
    <img class="thumbnail" src={image} />
    <div class="content">
        <div class="description">
            <h2>{title}</h2>
            <slot set:html={content} />
        </div>
        <div class='links'>
            <a href={url}>{url_text}</a>
        </div>
    </div>
</div>

<style>
    .project {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
    }

    .project .thumbnail {
        max-height: 200px;
    }

    .project h2 {
        margin: 0;
    }
</style>